apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: ${NAMESPACE}
  labels:
    app: alertmanager
    component: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 9093
    targetPort: 9093
    protocol: TCP
    name: http
  selector:
    app: alertmanager

